.form {
  width: 300px;
  margin: 15px auto 0;
}

.form-group {
  position: relative;
  width: 100%;
}

.form-group .form-input {
  width: 100%;
  height: 30px;
  border: 0;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.form-group .form-button {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background: url('../../images/loupe.svg') no-repeat;
  border: 0;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .form {
    width: 90%;
  }
}
