.actor {
  position: relative;
  width: 245px;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10px;
  margin: 0 0 20px;
}

.actor:hover .actor-detail, .actor:hover .actor-detail .actor-detail__description {
  bottom: 0;
  max-height: 175px;
}

.actor-photo {
  width: 100%;
  height: 350px;
  cursor: pointer;
  background: url('../../images/loading.gif') no-repeat
    center 85px;
}

.actor-photo img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.actor-detail {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -90px;
  padding: 15px;
  width: calc(245px - 30px);
  max-height: 135px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.actor-detail__name {
  line-height: 25px;
  margin-bottom: 15px;
}

.actor-detail .actor-detail__description {
  margin: 0;
  padding: 0;
}

.actor-detail .actor-detail__description .actor-detail__description-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.actor-detail .actor-detail__description .actor-detail__description-item div {
  font-size: 12px;
}

.actor-detail
  .actor-detail__description
  .actor-detail__description-item
  div
  span {
  font-size: 12px;
}
