.loading {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}
.loading-item {
  width: 40px;
  height: 40px;
  position: relative;
  animation: loading-animation 2.5s infinite linear both;
}

.loading-item-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: loading-animation-dot 2.0s infinite ease-in-out both; 
}

.loading-item-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #FFF;
  border-radius: 100%;
  animation: loading-animation-dot-before 2.0s infinite ease-in-out both; 
}

.loading-item-dot:nth-child(1) { animation-delay: -1.1s; }
.loading-item-dot:nth-child(2) { animation-delay: -1.0s; }
.loading-item-dot:nth-child(3) { animation-delay: -0.9s; }
.loading-item-dot:nth-child(4) { animation-delay: -0.8s; }
.loading-item-dot:nth-child(5) { animation-delay: -0.7s; }
.loading-item-dot:nth-child(6) { animation-delay: -0.6s; }
.loading-item-dot:nth-child(1):before { animation-delay: -1.1s; }
.loading-item-dot:nth-child(2):before { animation-delay: -1.0s; }
.loading-item-dot:nth-child(3):before { animation-delay: -0.9s; }
.loading-item-dot:nth-child(4):before { animation-delay: -0.8s; }
.loading-item-dot:nth-child(5):before { animation-delay: -0.7s; }
.loading-item-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes loading-animation {
  100% { transform: rotate(360deg); } 
}

@keyframes loading-animation-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes loading-animation-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}