* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: arial;
}

.header {
  margin: 30px 0 0 0;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.actors {
  max-width: 1060px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1135px) {
  .actors {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
}
